::view-transition-group(*) {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#item-0 {
  visibility: hidden;
}

.item {
  border: 1px solid #555;
  place-content: center;
  cursor: pointer;
  background-color: #333;
}
